@model Shared.ProductToReturnDto

@{
    ViewData["Title"] = "Product Details";
}

<div class="container mt-5">
    <div class="card shadow-sm shadow-warning">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">@Model.Name</h3>
        </div>
        <div class="card-body d-flex flex-wrap">
            <div class="col-md-5 text-center mb-3">
                <img src="@Model.Image" alt="Product Image" class="img-fluid rounded shadow w-75"  />
            </div>
            <div class="col-md-7">
                <div class="mb-3">
                    <label class="fw-bold text-muted fs-4">Description:</label>
                    <div class="fs-2">@Model.Description</div>
                </div>
                <div class="mb-3">
                    <label class="fw-bold text-muted fs-4">Restaurant:</label>
                    <div class="fs-2">@Model.Restaurant</div>
                </div>
                <div class="mb-3">
                    <label class="fw-bold text-muted fs-4">Category:</label>
                    <div class="fs-2">@Model.Category</div>
                </div>

            </div>
        </div>
       
    </div>
</div>
